/* CSS Document */
body {	background:#312B39;}
.hero{
	width: 100%;
	
	min-height: 650px;
	max-height: 650px;
	text-align: center;
	position: right;
    box-sizing: border-box;
	margin-top: 0;
	padding-top: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background:#312B39;
	background-image: url("landing.png");
	background-attachment:scroll;
	background-repeat: no-repeat;
	background-size:contain;
	background-position: right;

}

a{
	text-decoration: none;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
	
	
}

nav{
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	margin-right: 1vw;
	margin-top: 0;
	margin-bottom: 0;
    display: flex;
    align-content: right;
		
}

.logo{
	
	
	padding-left: 7vw;
	padding-top: 2vw;
	margin-top: 10px;
	float: left;
	height: 7vw;
}


nav ul{
	display: flex;
	align-items: center;
	justify-content: center;
	float: right;
	font-size: 1.1vw;
	padding-top: 1.5vw;
}


nav ul li{
	list-style: none;
display: inline;
	padding: 10px 20px;
	
}

nav ul li a{
	color:rgba(255,238,238,1.00);
	position: relative;
	padding: 5px 0;
	float: left;
	text-align: center;
	
}

nav ul li a:hover{
	color:rgba(255,201,86,1.00);
	text-decoration: none
}

nav ul li a :after{
	content: "";
	position: absolute;
	left: 0;
    width:0;
	height: 3px;
	background: #fd4766;
	transition: .3s;
	bottom: 0;
}

nav ul li a:hover:after{
	width: 100%
}

.btn{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px ;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
	
}

.btn:hover{
	background: transparent;
	border-color: #fd4766;
	color: #fd4766;
}
.content{
	margin-left: 11vw;
	padding-top: 11vw;
}

.content .title{
	color: #1f1f2;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 4px;
	display: inline-block;
	margin: 0 0 20px 0;
	background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#fd4766 79.69%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	
	
	
}

.content h1{
	 color:#FFEDED;
    font-size: 3vw;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
	
}

.content h1 span{
    color: #fc3f68;
}

.content p{
    width: 55%;
    color: #757575;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 2vw
}

.about{text-align: left; 
    font-size: 25px;
}

.hero-text{text-align: left}

.creative{color:white}

.nav-item:checked
{ color:rgba(255,201,86,1.00);}
